body{
background-image:url("images/brownie.jpg");
background-size: 1000px 1500px;
background-repeat: no-repeat;
background-position: center;
background-color: brown;
}

h1{
  color grey;
}
.headerPurple{
  color: purple;
}

p{
  font-size: 30px;
  font-style: italic;
}
.title{
font-size:100px;
font-style: normal;
}
th{
  background-color:white;
  font-size: 20px;
}
